@keyframes cart__container {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
}

.cart__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    animation: cart__container .5s ease-in-out;
}

.cart__information {
    background: white;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 5px;
    gap: 20px;
}

.cart__container .product__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: unset;
    width: 100%;
}

.cart__container .product__card button {
    background: #e92c2c;
    border: none;
    font-weight: bold;
    color: white;
    width: 100px;
    height: 40px;
}

.cart__container .product__card button:hover {
    background: #c21d1d;
}

.cart__container .product__card button:active {
    background: #b91c1c;
}

.checkout {
    width: 100%;
    max-width: 200px;
    min-width: 140px;
}

.checkout button {
    background: #08bb52;
    border: none;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 30px;
    float: right;
    cursor: pointer;
}

.checkout button:hover {
    background: #0baf50;
}
.checkout button:active {
    background: #0d9c49;
}

.cart__container .empty__cart {
    padding: 40px;
}

.cart__container .empty__cart svg  {
    font-size: 50px;
}
.cart__container .empty__cart svg path{
    font-size: 40px;
    stroke: #a8a8a8;
}

@media screen and (max-width: 700px) {
    .cart__information {
        flex-direction: column;
        height: unset;
        padding: 10px;
    }

    .cart__container .product__card {
        flex-direction: column;
    }
}