@keyframes product__container {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
}

.products__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background: white;
    box-sizing: border-box;
    animation: product__container .5s 1 ease-in-out;
}

.product__card {
    min-width: 200px;
    width: 200px;
    transition: all .2s linear;
    padding: 10px;
    background: white;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed #d8d8d8;
    border-radius: 5px;
    flex: 1;
    position: relative;
}

.product__card .name_desc {
    height: 60px;
    display: flex;
    align-items: center;
}

.product__card .price_desc {
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed #5039a2;
    border-radius: 10px;
}

.product__card .onsale_tag {
    position: absolute;
    right: 0;
    top: 0;
    background: #ff0000;
    padding: 4px;
    color: white;
    font-weight: bold;
    border-radius: 20px 6px 0 20px;
    border: 1px solid white;
}

.product__card .lined-through {
    text-decoration: line-through;
}

.product__card h4 {
    font-family: lato;
    font-weight: 600;
}

.product__card p {
    font-family: lato;
    font-weight: 400;
}

.product__card:hover {
    border: 1px solid #d3d3d3;
    box-shadow: 0 0 4px 0px #3a3a3a;
}

.product__card img {
    height: 150px;
}

.product__card button {
    background: #994dff;
    color: white;
    height: 40px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 10px;
}

.product__card button:hover {
    background: #7532cc;
}

.product__card button:active {
    background: #571fa0;
}

